.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: rgba(238, 124, 177, 0.582);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 2px -2px rgba(154, 18, 218, 0.2);
}
.items{
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: larger;
}